/* ------Jumbotron------- */
.jumbotron{
    /* Style */
    background-color: aqua;
    /* Spacing and Sizing */
    height: 300px;
    margin-bottom: 50px;
}

/* -------Portfolio------- */
.portfolio{
    /* Spacing and Sizing */
    margin-bottom: 50px;
}

.wooden_house{
    /* Style */
    background-color: red;
    border: 1px solid black;
    border-radius: 15px;
    /* Spacing and Sizing */
    height: 250px;
}
.slice_of_cake{
    /* Style */
    background-color: red;
    border: 1px solid black;
    border-radius: 15px;
    /* Spacing and Sizing */
    height: 250px;

}
.circus{
    /* Style */
    background-color: red;
    border: 1px solid black;
    border-radius: 15px;
    /* Spacing and Sizing */
    height:250px;
}

/* ------About------ */
.about{
    /* Style */
    background-color: #5fddba;
    color: white;
    /* Spacing and Sizing */
    padding: 40px 0;
    margin-bottom: 50px;
}


/* ------Contact me------ */
.contact_me{
    /* Style */
    background-color: teal;
    /* Spacing and Sizing */
    padding: 40px 0;
    margin-bottom: 50px;
}

.contact_info{
    /* Style */
    background-color: violet;
    /* Spacing and Sizing */
    height: 150px;
}


/* Footer */
footer{
    /* Style */
    background-color: teal;
    /* Spacing and Sizing */
    padding: 40px 0;
}

.prova_2{
    /* Style */
    background-color: tomato;
    border: 1px solid black;
    /* Spacing and Sizing */
    height: 120px;
}


