/* ------Jumbotron------- */
.jumbotron{
    /* Style */
    background-color: #1ad29d;
    color: white;
    /* Spacing and Sizing */
    margin-bottom: 50px;
}

.jumbotron_image{
    height: 200px;
}

/* -------Portfolio------- */
.portfolio{
    /* Spacing and Sizing */
    margin-bottom: 50px;
}

.portfolio_image{
    width: 100%;
    border-radius: 15px;
}


/* ------About------ */
.about{
    /* Style */
    background-color: #1ad29d;
    color: white;
    /* Spacing and Sizing */
    margin-bottom: 50px;
}


/* ------Contact me------ */
.contact_me{
    /* Style */
    background-color: teal;
    /* Spacing and Sizing */
    padding: 40px 0;
    margin-bottom: 50px;
}

.contact_info{
    /* Style */
    background-color: violet;
    /* Spacing and Sizing */
    height: 150px;
}


/* ------Footer------ */
footer{
    /* Style */
    background-color: teal;
    /* Spacing and Sizing */
    padding: 40px 0;
}

.prova_2{
    /* Style */
    background-color: tomato;
    border: 1px solid black;
    /* Spacing and Sizing */
    height: 120px;
}



/* ------------- */

